.yello {
    color: #f39c12;
}

.underline {
    text-decoration: underline;
}

.mg-top-20 {
    margin-top: 20px;
}

.item-thoi-gian {
    float: left;
    border: 1px solid #EEEEEE;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px
}

.thong-bao-loi {
    color: red;
}
